@font-face {
    font-family: "Inter Light";
    src: url(font/Inter-ExtraLight.ttf);
    font-display: swap;
}
@font-face {
    font-family: "Inter Regular";
    src: url(font/Inter-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: "Inter Bold";
    src: url(font/Inter-Bold.ttf);
    font-display: swap;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #212529;
    --text-color: #212529;
    --sec-color: #ffc800;
    --pri-color: #f0f0f0;

    --hover-sec-color: #bf8c00;
    
    --light-font: "Inter Light";
    --regular-font: "Inter Regular";
    --bold-font: "Inter Bold";
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--regular-font);
}

*::selection{
    background-color: var(--sec-color);
    color: var(--text-color);
}

body {
    background-color: var(--bg-color);
    width: 100vw;
    max-width: 100%;
}

.button {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: var(--sec-color);
    font-size: 1rem;
    transition: background-color 0.25s ease;
    font-family: var(--bold-font);
}
    .button:hover {
        background-color: var(--hover-sec-color);
    }

a {
    text-decoration: none;
}

footer nav {
    width: 100%;
    padding: 0.5rem 0;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

    footer nav .mobile-nav-item {
        padding: 12px;
        transition: background-color 0.25s ease;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
    }
    footer nav .mobile-nav-item:hover {
        background-color: #EEEEEE;
    }

.cred-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
    
    .cred-content svg {
        width: 64px;
    }

    .cred-content h2 {
        color: var(--pri-color);
    }

    .cred-content form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
        .cred-content form div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

            .cred-content form input {
                padding: 12px;
                font-size: 1rem;
                border: none;
                border-bottom: 1px #333333 solid;
                outline: none;
                background-color: var(--bg-color);
                color: var(--pri-color);
                transition: border-bottom-color 0.25s ease;
            }
                .cred-content form input:focus {
                    border-bottom-color: var(--pri-color);
                }

    .cred-content p {
        color: var(--pri-color);
    }

        .cred-content p a {
            color: var(--sec-color);
        }
