.button {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: var(--sec-color);
    font-size: 1rem;
    transition: background-color 0.25s ease;
    font-family: var(--bold-font);
}
    .button:hover {
    background-color: var(--hover-sec-color);
}

a {
    text-decoration: none;
}

img, iframe, .button {
    user-select: none;
}

hr {
    margin: 0.5rem;
    border-color: var(--bg-color);
    width: 100%;
    align-self: center;
}

.island {
    background-color: var(--pri-color);
    border-radius: var(--border-radius);
    padding: var(--padding-normal);
    margin: var(--spacing);
}
    .island-image {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
        .island-image svg {
            height: 64px;
            width: auto;
        }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
.switch input:checked + .slider {
    background-color: var(--sec-color);
}
.switch input:checked + .slider:before {
    transform: translateX(26px);
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a0a0a0;
    transition: .4s;
    border-radius: 34px;
}
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: var(--pri-color);
        transition: .4s;
        border-radius: 50%;
    }
