.island-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
    .island-group .island {
        max-width: 100%;
        margin: 0;
        flex: 1;
    }

.bilanz {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.bilanz:hover {
    opacity: 0.8;
}

.bilanz-image {
    padding: 10px;
    background-color: #42887C;
    border-radius: 999px;
    margin-bottom: 12px;
}

.red-bilanz {
    background-color: #836F81;
}
