.island {
    width: 100%;
    background-color: var(--pri-color);
    border-radius: var(--border-radius);
    padding: var(--padding-normal);
    margin: var(--spacing);
}

.island-image {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
    .island-image svg {
        height: 64px;
        width: auto;
    }
    
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .profile .profile-img {
        padding: 0.5rem;
        background-color: var(--bg-color);
        border-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile .profile-img img {
        width: 200px;
        max-width: 100%;
        height: auto;
        border-radius: 999px;
    }
