@page "/cards"
@using budget.Components.Layout
@using MudBlazor
@using budget.Components.Dialogs
@inject IDialogService DialogService
@inject IJSRuntime JSRuntime

<script src="Scripts/main.js" defer></script>

<MudButton Style="margin-bottom: 2rem" @onclick="NewCard" Variant="Variant.Filled" Color="Color.Warning">Karte hinzufügen</MudButton>

<div class="island-group">
    <div @ref="_card" id="card" class="island">
        <div>
            <p>Vermögen</p>
            <h2>CHF 6,325.45</h2>
            <div class="d-flex gap-2">
                <MudButton @onclick="EditCard" DisableElevation="true" Variant="Variant.Filled" Color="Color.Warning">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" />
                </MudButton>
                <MudButton @onclick="RemoveCard" DisableElevation="true" Variant="Variant.Filled" Color="Color.Error">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" />
                </MudButton>
            </div>
        </div>
    </div>
    <div @ref="_cash" id="cash" class="island">
        <p>Bargeld</p>
        <h2>CHF 254.20</h2>
        <div class="d-flex gap-2">
            <MudButton @onclick="EditCash" DisableElevation="true" Variant="Variant.Filled" Color="Color.Warning">
                <MudIcon Icon="@Icons.Material.Filled.Edit" />
            </MudButton>
            <MudButton @onclick="RemoveCash" DisableElevation="true" Variant="Variant.Filled" Color="Color.Error">
                <MudIcon Icon="@Icons.Material.Filled.Delete" />
            </MudButton>
        </div>
    </div>
</div>

@code {
    [CascadingParameter] public MainLayout? Layout { get; set; }

    protected override void OnInitialized() {
        Layout.Title = "Karten";
    }

    DialogOptions _options = new DialogOptions {
        CloseOnEscapeKey = true,
        DisableBackdropClick = true
    };

    private void NewCard() {
        DialogService.Show<NewCard>("Neue Karte hinzufügen", _options);
    }
    
    private void EditCard() {
        DialogService.Show<EditCard>("Karte bearbeiten", _options);
    }
    
    private void EditCash() {
        DialogService.Show<EditCash>("Bargeld Betrag anpassen", _options);
    }

    ElementReference _cash;
    private async void RemoveCash() {
        await JSRuntime.InvokeVoidAsync("removeElement", _cash);
    }
    
    ElementReference _card;
    private async void RemoveCard() {
        await JSRuntime.InvokeVoidAsync("removeElement", _card);
    }
}
