@page "/history"
@using budget.Components.Layout
@using MudBlazor

<div>
    <div class="island transaction">
        <span class="icon">
            <img src="Images/cart.svg" alt="Shopping"/>
        </span>
        <div>
            <span>
                <h4>H&M Thun</h4>
                <p>10 Dezember 2023</p>
            </span>
            <span class="amount">
                <h4>CHF 139.00</h4>
                <p>Bargeld</p>
            </span>
        </div>
    </div>
    <div class="island transaction plus">
        <span class="icon">
            <img src="Images/cafe.svg" alt="Restaurant"/>
        </span>
        <div>
            <span>
                <h4>Restaurant</h4>
                <p>8 Dezember 2023</p>
            </span>
            <span class="amount">
                <h4>CHF 65.00</h4>
                <p>Karte</p>
            </span>
        </div>
    </div>
    <div class="island transaction">
        <span class="icon">
            <img src="Images/cart.svg" alt="Migros"/>
        </span>
        <div>
            <span>
                <h4>Migros Bern</h4>
                <p>12 Dezember 2023</p>
            </span>
            <span class="amount">
                <h4>CHF 12.00</h4>
                <p>Twint</p>
            </span>
        </div>
    </div>
</div>
<strong class="headline">Vermögens Verlauf</strong>
<div>
    <MudChart 
        ChartType="ChartType.Line" 
        ChartSeries="@Series" 
        XAxisLabels="@XAxisLabels" 
        Width="100%" 
        Height="100%" 
        ChartOptions="@Options"
        Class="white-text"
    />
</div>

@code {
    [CascadingParameter]
    public MainLayout? Layout { get; set; }
    
    public ChartOptions Options = new ChartOptions();
    
    public List<ChartSeries> Series = new List<ChartSeries>() {
        new ChartSeries() { Name = "Kreditkarte", Data = new double[] { 3567, 2789, 1932, 3551, 5623, 1662, 4562, 3242, 6522, 5621, 6326.45 } },
        new ChartSeries() { Name = "Bargeld", Data = new double[] { 50, 135, 422, 351, 343, 66, 128, 324, 123, 187, 254.20 } }
    };
    
    public string[] XAxisLabels = {"Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Nov", "Dez"};

    protected override void OnInitialized() {
        Layout.Title = "Transaktionen";
        Options.LineStrokeWidth = 5;
    }
}
