@page "/history"
@using budget.Components.Layout
@using MudBlazor

<div>
    <div class="island transaction">
        <span class="icon">
            <img src="Images/cart.svg" alt="Shopping"/>
        </span>
        <div>
            <span>
                <h5>New Yorker Thun</h5>
                <p>10 Dezember 2023</p>
            </span>
            <span class="amount">
                <h5>CHF 139.00</h5>
                <p>Bargeld</p>
            </span>
        </div>
    </div>
    <div class="island transaction plus">
        <span class="icon">
            <img src="Images/cafe.svg" alt="Restaurant"/>
        </span>
        <div>
            <span>
                <h5>Restaurant</h5>
                <p>8 Dezember 2023</p>
            </span>
            <span class="amount">
                <h5>CHF 65.00</h5>
                <p>Karte</p>
            </span>
        </div>
    </div>
    <div class="island transaction">
        <span class="icon">
            <img src="Images/cart.svg" alt="Migros"/>
        </span>
        <div>
            <span>
                <h5>Migros Bern</h5>
                <p>12 Dezember 2023</p>
            </span>
            <span class="amount">
                <h5>CHF 12.00</h5>
                <p>Twint</p>
            </span>
        </div>
    </div>
</div>
<strong id="bilanz" class="headline">Erweiterte Bilanz</strong>
<div>
    <MudChart 
        ChartType="ChartType.Bar" 
        ChartSeries="@Series" 
        XAxisLabels="@XAxisLabels" 
        Width="100%" 
        Height="100%" 
        ChartOptions="@Options"
        Class="white-text"
    />
</div>

@code {
    [CascadingParameter]
    public MainLayout? Layout { get; set; }
    
    public ChartOptions Options = new ChartOptions();
    
    public List<ChartSeries> Series = new List<ChartSeries>() {
        new ChartSeries() { Name = "Einnahmen", Data = new double[] { 892, 893, 802, 861, 864, 889, 851, 846, 815, 809, 871 } },
        new ChartSeries() { Name = "Ausgaben", Data = new double[] { 497, 863, 735, 645, 486, 647, 497, 675, 529, 836, 612 } }
    };
    
    public string[] XAxisLabels = {"Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Nov", "Dez"};

    protected override void OnInitialized() {
        if (Layout != null) {
            Layout.Title = "Transaktionen";
        }
        Options.LineStrokeWidth = 5;
    }
}
