@page "/profile"
@using budget.Components.Layout

<div class="island profile">
    <div class="profile-img">
        <img src="Images/pinguin.png" alt="Profil Bild"/>
    </div>
    <h1>Damian Moser</h1>
</div>

@code {
    [CascadingParameter]
    public MainLayout? Layout { get; set; }

    protected override void OnInitialized() {
        if (Layout != null) {
            Layout.Title = "Profil";
        }
    }
}
