@page "/profile"
@using budget.Components.Layout
@using MudBlazor

<div>
    <div class="island profile">
        <img draggable="false" src="Images/pinguin.png" alt="Profil Bild" />
        <h2>Damian Moser</h2>
        <strong>damian.moser</strong>
    </div>
    <div class="island profile-information">
        <h3>Information</h3>
        <table>
            <tr>
                <th>E-Mail</th>
                <td>dmo140748@stud.gibb.ch</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>079 810 73 96</td>
            </tr>
        </table>
    </div>
    <div class="island settings">
        <h3>Settings</h3>
        <div class="setting">
            <strong>Darkmode</strong>
            <MudSwitch @bind-Value="@DarkMode" Color="Color.Warning" />
        </div>
        <hr/>
        <div class="setting">
            <strong>Anmelden mit Fingerabdruck</strong>
            <MudSwitch @bind-Value="@FingerPrint" Color="Color.Warning" />
        </div>
        <hr/>
        <div class="setting">
            <strong>Benachrichtungen</strong>
            <MudSwitch @bind-Value="@News" Color="Color.Warning" />
        </div>
        <hr/>
        <MudButton Class="info" Href="/info">
            <strong>App Info</strong>
        </MudButton>
        <hr/>
        <MudButton Class="info" Href="/faq">
            <strong>Hilfebereich</strong>
        </MudButton>
    </div>
</div>

@code {
    [CascadingParameter]
    public MainLayout? Layout { get; set; }

    protected override void OnInitialized() {
        if (Layout != null) {
            Layout.Title = "Profil";
        }
    }
    
    public bool DarkMode { get; set; } = true;
    public bool FingerPrint { get; set; }
    public bool News { get; set; } = true;
}
